#Visual Studio
.vs/

# environmental variables
*/.env

#Build Directories
cmake-build-debug
cmake-build-debug-mingw-windows
.idea
build\
out\
build\Debug

#Debug/Release output
Debug/
Release/
x64/
x86/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Others
*.iml
*.exe