#Visual Studio
.vs/

# environmental variables
*/.env

#Build Directories
build/
out/
cmake-build-debug
cmake-build-debug-mingw-windows
out/build
build\Debug

#Debug/Release output
Debug/
Release/
x64/
x86/
