# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Visual Studio
.vs/

# environmental variables
*/.env

#Build Directories
build/
out/
out/build

#Debug/Release output
Debug/
Release/
x64/
x86/

#Others
*.iml
*.exe